:root {
	--color-white: #fff;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	background-image: linear-gradient(-170deg,#064997 20%,#105ba7);
	background-position: 100%;
}

body {
	background-image: linear-gradient(270deg, #2b67ac 3px, transparent 0),
	linear-gradient(#2b67ac 3px, transparent 0),
	linear-gradient(270deg, rgba(43,103,172,.4) 1px, transparent 0),
	linear-gradient(#2b67ac 1px, transparent 0),
	linear-gradient(270deg,rgba(43,103,172,.4) 1px, transparent 0),
	linear-gradient(#2b67ac 1px, transparent 0);
	background-size: 112px 112px, 112px 112px, 56px 56px, 56px 56px, 28px 28px, 28px 28px;
	font-family: Josefin Sans, sans-serif;
	min-width: 100vw;
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu__buttons {
	position: relative;
	width: 350px;
	height: 350px;
}

.menu__buttons::before {
	content: "";
	position: absolute;
	bottom: 0;
	transform: rotate(-45deg);
	transform-origin: left;
	height: 1px;
	width: 494px;
	background: var(--color-white);
}

.menu__buttons ul {
	position: relative;
	width: 100%;
	height: 100%;
}

.menu__buttons ul li {
	display: block;
	width: 130px;
	height: 130px;
	position: absolute;
	border: none;
	list-style-type: none;
	border-radius: 50%;
	background: var(--color-white);
	cursor: pointer;
	animation: on-load .3s ease-in-out forwards;
	animation-delay: calc(var(--item-count)*150ms);
}

.menu__buttons ul li::after {
	content: "";
	display: block;
	position: absolute;
	background: transparent;
	border: 2px dashed var(--color-white);
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	border-radius: 50%;
	transition: all .3s cubic-bezier(.53,-.67,.73,.74);
	transform: none;
	opacity: 1;
}

.menu__buttons ul li:first-child {
	top: 13%;
	left: 9%;
}

.menu__buttons ul li:nth-child(2) {
	right: 9%;
	bottom: 13%;
}

.menu__buttons ul li:hover::after {
	transition: all .3s cubic-bezier(.37,.74,.15,1.65);
	transform: scale(1.1);
	opacity: 1;
}

li i,
li span {
	position: absolute;
}

li i {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

li span {
	top: 70%;
	left: 50%;
	transform: translateX(-50%);
	transition: all .3s cubic-bezier(.37,.74,.15, 1.65);
	opacity: 0;
}

li:hover span {
	opacity: 1;
}

@keyframes on-load {
	0% {
		opacity: 0;
		transform: scale(.3);
	}
	70% {
		opacity: .7;
		transform: scale(1.1);
	}
	100% {
		opacity: 1;
		transform: scale(1);
	}
}