* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
}

.list {
	position: relative;
}

.list h2 {
	position: relative;
	color: #fff;
	font-weight: 500;
	letter-spacing: 1px;
}

.list ul {
	position: relative;
}

.list ul li {
	position: relative;
	left: 0;
	color: #999;
	list-style: none;
	margin: 4px 0;
	border-left: 2px solid goldenrod;
	transition: .5s;
	cursor: pointer;
}

.list ul li::before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	background: goldenrod;
	transform: scaleX(0);
	transform-origin: left;
	transition: .5s;
}

.list ul li:hover {
	left: 10px;
}

.list ul li:hover::before {
	transform: scaleX(1);
}

.list ul li span {
	position: relative;
	padding: 8px;
	display: inline-block;
	z-index: 1;
	transition: .5s;
}

.list ul li:hover span {
	color: #111;
}