body {
	display: flex;
	align-items: center;
	justify-content: center;
}

.hamburger {
	margin-top: 200px;
	position: relative;
	width: 200px;
	height: 20px;
	border: 1px solid black;
	transition: all 1s;
	background-color: black;
}

.hamburger::before {
	content: "";
	position: absolute;
	width: 200px;
	height: 20px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: black;
	transition: all 1s;
	top: -40px;
}

.hamburger::after {
	content: "";
	position: absolute;
	width: 200px;
	height: 20px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: black;
	transition: all 1s;
	top: 40px;
}

.hamburger:hover {
	cursor: pointer;
	border: none;
	background-color: transparent;
}

.hamburger:hover::before {
	transform: rotate(29deg);
	transform-origin: 0 0;
	margin-left: 5px;
	background-color: red;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.hamburger:hover::after {
	border-bottom-left-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: red;
	transform: rotate(-29deg);
	transform-origin: 0 0;
	top: 58px;
}